@import '../../styles/index.scss';

$soft_gray: #454545;

.contact-container {
  // border: 1px solid red; 
  // @include multi(height, 90vh !important, 90vh !important, 90vh !important, 90vh !important);
  // height: auto;
  // @include center-center();
  @include back-image();
  @include multi(   background-position, 70% 50%, 60% center ,  center center,  center center );
  background-image: url(../../assets/images/contact.gif);

  /*new simple contact*/
  .simple-contact-data{
    @include multi(text-align, center, center, left, left);
    margin: 5rem 0;
    a{
      background: linear-gradient( 184deg , #964922 0%, #642200 100%);
      display: inline-block;
      margin-top: 3rem;
      padding: 0.5rem 2rem;
      // margin: 1rem;
      border-radius: 2rem;
      text-transform: uppercase;
    }
  }
}


