@import "../../styles/index.scss";

.ui-container {
  @include back-image();
  background-image: url(../../assets/images/UI_UX.jpg);
  // border: 5px solid blue;
  .ui-master-container{
    @include multi(margin-top, 6rem, 6rem, 0, 0);
  }
  .master-ui-container{
    // border: 5px solid yellow;
  }

  .video-cta-container {
    .close {
      // background-color: red;
      color: white;
      position: absolute;
      z-index: 99999;
      top: 2%;
      right: 2%;
      cursor: pointer;
    }
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 99998;
    @include multi(width, 100%, 100%, 80%, 80%);
    @include multi(left, 0%, 0%, 10%, 10%);
    @include multi(height, 100%, 100%, 80%, 80%);
    @include multi(top, 0%, 0%, 10%, 10%);
    @include center-center();
    video {
      @include multi(width, 95%, 95%, 70%, 70%);
    }
  }
  // @include multi(height, auto, auto, 100vh, 100vh);

  // @include multi(background-image, url('../../assets/images/UI_UX.jpg'),url('../../assets/images/UI_UX.jpg'),url('../../assets/images/UI_UX.jpg'), url('../../assets/images/UI_UX.jpg'));
  .intro-ui {
    @include center-center();
    padding: 0;
    margin: 0;
    @include multi(margin, 2rem 0, 2rem 0, 0, 0);
  }

  .title {
    display: inline-block;
    @include multi(font-size, 2rem, 4rem, 2rem, 4rem);
    @include multi(
      border-bottom,
      3px solid $soft_brown,
      5px solid $soft_brown,
      2px solid $soft_brown,
      5px solid $soft_brown
    );
    @include multi(margin-top, 2rem, 2rem, 2rem, 4rem);
  }

  .master-ui-container {
    @include multi(height, auto, auto, 100vh, 100vh);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ui-animation-container {
      // border: 1px solid red;
      width: 100%;
      @include center-center();
      .ui-inner-container {
        // border: 1px solid blue;
        @include multi(width, 70%, 70%, 80%, 70%);
        // display: flex;
        @include multi(display, none, none, flex, flex);
        .ui-animation,
        .ui-text {
          padding: 1rem;
          display: flex;
          flex-direction: row;
          // border: 1px solid blue;
        }
        .ui-text {
          width: 30%;
          padding: 2rem;
          @include center-center();
          .ui-text-container {
            // background-color: rgba(0, 0, 0, 0.2);
            opacity: 1 !important;
            padding: 2rem;
            @include multi(font-size, 1rem, 1rem, 0.5rem, 1rem);
          }
        }
        .ui-animation {
          position: relative;
          width: 65%;
          img {
            width: 100%;
            height: auto;
            
          }
          // @include multi(height, auto, auto, 90vh, 80vh);
          // @include back-image();
          // @include center-center();
          // background-image: url(../../assets/images/uiaux.png);
          .ui-video {
            @include multi(width, 40%, 40%, 40%, 40%);

            position: absolute;
            bottom: 0;
          }
        }
      }
    }
    // mobile
    .ui-animation-mobile-container {
      
      height: auto;
      .minicel{
        width: 50%;
        margin-top: 1rem !important;
      }
      // border: 1px solid red;
      width: 100%;
      @include center-center();
      @include multi(display, flex, flex, none, none);
      .text-container {
    
        margin: 2rem 0;
        p {
          background-color: rgba(0, 0, 0, 0.2);
          padding: 2rem;
        }
      }
      .ui-animation-mobile-inner {
        background-color: rgba(0, 0, 0, 0.4);
        width: 80%;
        padding: 10%;
        // border: 1px solid red;
        .ui-video {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .cta-mg {
    width: 80% !important;
    padding: 0.3rem;
  }
}
