@import '../../styles/index.scss';

body {
  background-color: black;
}

.hero {
  @include back-image();
}

h1 {
  color: white;
  @include center-center();
}

.view,
.view-responsive {
  color: $soft_brown;
  font-family: niveau-grotesk-small-caps, sans-serif;
  font-size: 40px;
  @include center-center();
  span {
    color: white;
  }
}

.view-responsive {
  height: 100vh;
}

.main-logo {
  @include multi(max-width, 150px, 200px, 200px, 300px);
  @include multi(margin-bottom, 5rem, 100px, 40px, 100px);
  height: auto;
}

.big-title {
  @include multi(font-size, 30px, 40px, 50px, 70px);
  @include multi(margin-bottom, 5rem, 100px, 0.1rem, 1rem);
  font-weight: bold;
  display: flex;
  @include multi(flex-flow, column, column, row, row);
  div {
    @include multi(line-height, 2.5rem, 3rem, 5rem, 5rem);
  }
  color: white;
  div:first-child {
    color: $soft_brown;
  }
}

.paragraph {
  font-family: avenir-book;
  color: white;
  opacity: 0.5;
  //width: 30%;
  @include multi(width, 80%, 80%, 50%, 30%);
  @include multi(font-size, 15px, 15px, 10px, 15px);
  @include multi(line-height, 1.5rem, 1.5rem, 1rem, 2rem);
}

.ball-alone {
  background-image: url(../../assets/images/Home-Hero.jpg);
}

.arrow {
  fill: $soft_brown !important;
  @include center-center();
  cursor: pointer;
  position: relative;
  top: -50px;
}
