@import "../../styles/index.scss";

.motion-graphics-container {
  // border: 1px solid blue;

  @include multi(height, auto, auto, auto, auto);
  // @include center-center();
  @include back-image();
  background-image: url(../../assets/images/back-motion.png);
  .row {
    @include center-center();
    padding: 0;
    margin: 0;
    // border: 1px solid red;
  }

  .title {
    display: inline-block;
    // text-align: center;
    @include multi(font-size, 2rem, 4rem, 2rem, 4rem);
    @include multi(
      border-bottom,
      3px solid $soft_brown,
      5px solid $soft_brown,
      2px solid $soft_brown,
      5px solid $soft_brown
    );
    //  @include multi(padding-bottom, 0.2rem, 1rem, 0.5rem, 1rem);
    @include multi(margin-top, 2rem, 2rem, 2rem, 4rem);
  }
  .mg-esp {
    position: relative;
    top: 4rem;
  }
}

.master-container {
  @include multi(display, none, none, flex, flex);
  @include multi(height, 100vh, 100vh, 100vh, 100vh);
  // border: 1px solid yellow;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: rgba(0,255,0,0.2);

  $animationRatio: 0.7;
  ////////////////////////////////////
  .animation-master-container {
    @include center-center();
    .animation-container {
      @include multi(width, 80%, 80%, 80%, 75%);
      // background-color: rgba(255, 255, 255, 0.2);
      display: flex;
      // position: relative;
      .text,
      .tv {
        // background-color: rgba(255, 255, 255, 0.5);
        // border: 1px solid red;
        width: (100% * $animationRatio);
        position: relative;
        // z-index: 8990;

        .tv-frame,
        .video {
          // position: absolute;
          // left: 0;
          // top: 0;
        }
        .tv-frame {
          width: 100%;
          height: auto;
        }

        .video {
          position: absolute;
          top: 17.5%;
          width: 84%;
          left: 8%;
          height: auto;
          // box-shadow: 0px 0px 100px 75px rgb(222, 236, 255);
        }
      }
      .text {
        // border: 1px solid red;
        width: 100% - (100% * $animationRatio);
        @include center-center();
        .text-container {
          // border: 1px solid #454545;
          @include multi(text-align, center, center, left, left);
          @include multi(padding, 1rem, 2rem, 0, 0);
          @include multi(font-size, 1rem, 1rem, 0.5rem, 1rem);
          font-family: avenir-book;
          ul {
            margin: 3rem 0;
            // padding: 0;
          }
          p {
            opacity: 0.7;
            &.no-opa {
              opacity: 1;
              @include multi(font-size, 1rem, 1rem, 0.5rem, 1.2rem);
              font-weight: bolder !important;
            }
          }
        }
        //
        // text-align: left;
      }
    }
  }

  ////////////////////////////////////
}

.animation-master-container-mobile {
  background-image: url(../../assets/images/back-motion.jpg);
  @include multi(display, block, block, none, none);
  padding-top: 5rem;
  .intro-animation {
    margin-bottom: 0rem;
  }
  img {
    width: 100%;
    height: auto;
  }
  p {
    margin: 3rem 0;
  }

  .main-button-container {
    margin-bottom: 6rem;
  }

  font-family: avenir-book;
  ul {
    text-align: left !important;
    margin: 3rem 0;
    // padding: 0;
    li {
    }
  }

  .mobile-animation-container {
   
    position: relative;
    .video {
      position: absolute;
      top: 2%;
      left: 2%;
      width: 96%;
    }
  }
  .mg-mobile-button{
    // background-color: blue;
    .main-button{
      // background-color: red;
      padding: 0.75rem 4rem;
    }
  }
}

// .motion-media-container {
//   @include center-center();
//   border: 1px solid yellow;

//   .content-container {
//     @include center-center();
//     @include multi(margin-top, 100%, 100%, 3rem, 3rem);
//     @include multi(width, 100%, 100%, 70%, 90%);

//     .text,
//     .pc {
//       border: 1px solid red;
//       // @include multi(width, 100%, 100%, 50%, 50%);
//       // @include center-center();
//       // border: 1px solid red;
//       // padding: 1rem 0;
//     }

//     .pc {
//       position: relative;
//       // overflow: hidden;
//       @include multi(width, 80%, 80%, 60%, 70%);
//       // @include multi(left, 10%, 10%, 0%, 0%);
//       // @include multi(height, 30vh, 30vh, 35vh, 50vh);
//       // background-color: black;
//       .pc-frame {
//         // position: absolute;
//         @include multi(width, 100%, 100%, 100%, 100%);
//         // z-index: 9999;
//         // top: 0;
//         // left: 0;
//       }
//     }

//     .text {
//       @include multi(width, 100%, 100%, 40%, 20%);
//       @include center-center();
//       // opacity: 0.8;
//       .text-container {
//         @include multi(text-align, center, center, left, left);
//         @include multi(padding, 1rem, 2rem, 0, 0);
//         @include multi(width, 100%, 100%, 50%, 95%);
//         @include multi(font-size, 1rem, 1rem, 0.5rem, 1rem);
//         font-family: avenir-book;
//         ul {
//           margin: 3rem 0;
//         }
//         p {
//           opacity: 0.7;
//           &.no-opa {
//             opacity: 1;
//             @include multi(font-size, 1rem, 1rem, 0.5rem, 1.2rem);
//             font-weight: bold;
//           }
//         }

//         h3 {
//           @include multi(font-size, 1.5rem, 1.5rem, 1rem, 2rem);
//         }
//       }
//     }

//     .slider-container {
//       // animation: Move 15s ease-in-out infinite;
//       // border: 5px solid blue;
//       @include multi(width, 100%, 100%, 90%, 100%);
//       display: flex;
//       flex-flow: row nowrap;
//       position: absolute;
//       // width: 100%;

//       @include multi(top, 100%, 100%, 25%, 25%);
//       @include multi(left, 100%, 100%, 25%, 23%);
//       z-index: 9990;

//       .slider {
//         @include multi(width, 100%, 100%, 54%, 54%);
//         height: auto;
//         // border: 1px solid yellow;
//       }
//     }

//     // .slider-container:hover{
//     //  animation: Move 15s ease-in-out infinite;

//     // }
//   }
// }

.footer {
  font-size: 0.8rem;
  //padding: 0.1rem;
  background: rgb(150, 73, 34);
  background: linear-gradient(
    184deg,
    rgba(150, 73, 34, 1) 0%,
    rgba(100, 34, 0, 1) 100%
  );
  .row {
    padding: 1rem 0;
    margin: 0;
  }
}
.arrow {
  fill: white;
  @include center-center();
  cursor: pointer;
}

link,
a {
  color: white !important;
}

.no-opa {
  opacity: 1;
  @include multi(font-size, 1rem, 1rem, 0.5rem, 1.2rem);
  font-weight: bolder !important;
}
