@import "../../styles/index.scss";

.marketing-assets-3-container {
  .ma-3-special-footer{
    @include multi(margin-bottom, 5rem, 5rem,0,0);
  }
  @include center-center();
  @include multi(height, auto, 100vh, auto, auto);
  @include back-image();
  //  background-image: url(../../assets/images/BallOnCourt.jpg);

  .content-container-a3 {
    // position: relative;
    // border: 1px solid yellow;
    @include multi(width, 100%, 100%, 70%, 80%);
    margin: 4rem 0;
    .text-a3,
    .pc-a3 {
      // border: 1px solid blue;
    }
    .pc-a3 {
      // border: 1px solid red;
      position: relative;
      //  overflow: hidden;
      @include multi(width, 90%, 90%, 60%, 60%);
      @include multi(left, 5%, 5%, 0%, 0%);
      // @include multi(left, 10%, 10%, 0%, 0%);
      // @include multi(height, 45vh, 45vh, 50vh, 60vh);
      .pc-image-a3 {
        // background-color: yellow;
        width: 100%;
        height: auto;
        // position: absolute;
        // @include multi(width, 100%, 100%, 100%, 100%);
        // @include multi(height, 100%, 100%, 100%, 100%);

        // left: 0;
        // z-index: 8000 !important;
        // top: 0;
      }
      .secure-a3 {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 55%;
        top: 13%;
        left: 0%;
        overflow: hidden;
        .innerimage-a3 {
          animation: MoveUp 15s ease-in-out infinite;
          width: 92%;
          height: auto;
          position: relative;
          top: 0;
          left: 0;
        }
      }
    }
    .text-a3 {
      @include multi(width, 100%, 100%, 40%, 40%);
      @include center-center();
      .text-container-a3 {
        @include multi(text-align, center, center, left, left);
        @include multi(padding, 1rem, 2rem, 0, 0);
        @include multi(width, 100%, 100%, 50%, 50%);
        @include multi(font-size, 1rem, 1rem, 0.5rem, 1rem);
        div {
          opacity: 0.5;
        }

        h3 {
          @include multi(font-size, 1.5rem, 1.5rem, 1rem, 2rem);
        }
      }
    }

    // .slider-container:hover{
    //  animation: Move 15s ease-in-out infinite;

    // }
  }
}

.inner-cel-a3 {
  position: absolute;
  @include multi(left, 0rem, -2rem, 0rem, 0rem);
  z-index: 8000 !important;
  bottom: 0;
  @include multi(width, 20%, 20%, 20%, 20%);
  transform: rotate(10deg);
}

@keyframes MoveUp {
  0% {
    top: 0;
  }

  25% {
    top: -100%;
  }

  50% {
    top: -200%;
  }

  75% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}
