@import "../../styles/index.scss";

.marketing-assets-3-container {
  .ma-3-special-footer{
    @include multi(margin-bottom, 5rem, 5rem,0,0);
  }
  @include center-center();
  @include multi(height, auto, 100vh, auto, auto);
  @include back-image();
  //  background-image: url(../../assets/images/BallOnCourt.jpg);

  .content-container-a3 {
    // position: relative;
    // border: 1px solid yellow;
    @include multi(width, 100%, 100%, 70%, 80%);
    margin: 4rem 0;

    .pc-a3 {
      img{
        width: 100%;
        height: auto;
        display: inline-block !important;

      }
      .desktop-slide-vertical{
        // background-color: yellow;
        // padding-top: 3rem;
        .pc-frame-vertical{
          // background-color: yellow;
          // @include multi(height, 20vh, 30vh, 25vh ,40vh);
          border-left: 2rem black solid;
          border-right: 2rem black solid;
          overflow: hidden;
          // display: inline-block;
          display: flex;
          flex-flow: column nowrap;
          width: 100%;
          img{
            width: 100%;
            height: auto;
            z-index: 9999;      
          }
          .slide-vertical{
            // display: flex;
            // flex-flow: row nowrap;
            // position: relative;
            // 
            background-color: yellow;
            position: relative;
            padding-top: 50%;
            img{
              z-index: 9998;
              // display: none !important;
              width: 100%;
              height: auto;
              position: absolute;
              top: 0;
              left: 0;
              animation: MoveUpNew 30s ease-in-out infinite;
            }
          }
  
        }
      }

    }
    .text-a3 {
      @include multi(width, 100%, 100%, 40%, 40%);
      @include center-center();
      .text-container-a3 {
        @include multi(text-align, center, center, left, left);
        @include multi(padding, 1rem, 2rem, 0, 0);
        @include multi(width, 100%, 100%, 50%, 50%);
        @include multi(font-size, 1rem, 1rem, 0.5rem, 1rem);
        div {
          opacity: 0.5;
        }

        h3 {
          @include multi(font-size, 1.5rem, 1.5rem, 1rem, 2rem);
        }
      }
    }

    // .slider-container:hover{
    //  animation: Move 15s ease-in-out infinite;

    // }
  }
}

.inner-cel-a3 {
  position: absolute;
  @include multi(left, 0rem, -2rem, 0rem, 0rem);
  z-index: 8000 !important;
  bottom: 0;
  @include multi(width, 20%, 20%, 20%, 20%);
  transform: rotate(10deg);
}

@keyframes MoveUpNew {
  0% {
    top: 0;
  }

  // 25% {
  //   top: -100%;
  // }

  50% {
    top: -560%;
  }

  // 75% {
  //   top: -300%;
  // }

  100% {
    top: 0;
  }
}
