@import "../../styles/index.scss";
$intro-debug: false;

$aux: 1px $soft_brown solid;

.intro {
  overflow: hidden;
  @if $intro-debug {
    border: 1px yellow solid;
  }

  @include multi(height, 100vh, 50vh, 60vh, 60vh);
  // @include center-center();
  text-align: left;
  display: flex;
  // flex-flow: column nowrap;
  @include multi(
    flex-flow,
    column-reverse nowrap,
    column-reverse nowrap,
    column nowrap,
    column nowrap
  );
  // justify-content: center;
  @include multi(justify-content, end, end, center, center);
  align-items: center;
  text-align: center;

  .inner-intro {
    @if $intro-debug {
      border: 1px red solid;
    }
  }

  .ball-container {
    // border: solid yellow 1px;
    position: relative;
    .animated-ball,
    .animated-ball-min {
      @include multi(display, none, none, block, block);
      @include multi(width, 50vh, 50vh, 60vh, 60vh);
      height: auto;
      position: absolute;
      left: 0px;
      @include multi(top, -200px, -20px, -20px, -60px);
      // transition: left 4s;
      transition: transform 4s;
      // border: 1px solid red;
    }

    .animated-ball-min {
      @include multi(display, block, block, none, none);
    }

    &:hover .animated-ball {
      transform: translateX(200px) rotate(45deg);
    }

    &:hover .animated-ball-min {
      transform: rotate(45deg);
    }
  }
}

@keyframes RotateBall {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
  // 50% {
  //   transform: rotate(45deg);
  // }
  // 75% {
  //   transform: rotate(0deg);
  // }
  // 100% {
  //   transform: rotate(0deg);
  // }
}

@keyframes MoveBall {
  0% {
    left: 0px;
  }
  100% {
    left: 200px;
  }
  // 50% {
  //   left: 200px;
  // }
  // 75% {
  //   left: 0px;
  // }
  // 100% {
  //   left: 0px;
  // }
}

.pre-intro {
  @include multi(
    border-left,
    solid 5px $soft_brown !important,
    solid 5px $soft_brown !important,
    none !important,
    none !important
  );
  @include multi(padding-left, 1.5rem, 1.5rem, 0, 0);
  text-align: left;
}

.intro-text {
  font-family: avenir-book;
  @include multi(
    border-left,
    none,
    none,
    solid 5px $soft_brown !important,
    solid 5px $soft_brown !important
  );
  @include multi(padding-left, 0, 0, 1rem, 1.5rem);
  .intro-logo {
    @include multi(width, 120px, 100px, 100px, 200px);
    height: auto;
  }
  .intro-explain {
    color: $soft_brown;
    margin-top: 1rem;
    // @include multi(padding-bottom, 40px, 40px, 40px, 40px);
  }

  .intro-content {
    margin-top: 0.5rem;
    @include multi(width, 90%, 80%, 80%, 80%);
    @include multi(font-size, 0.8rem, 1rem, 0.8rem, 1rem);
    @include multi(line-height, 1.9rem, 1.3rem, 1.3rem, 2rem);
    font-style: italic;
    @include multi(opacity, 1, 0.7, 0.7, 0.7);
    letter-spacing: 0.1rem;
    @include multi(text-align, left, left, left, left);
  }
  margin-bottom: 2rem;
}
.intro-button-container-part {
  display: flex;
  flex-flow: column nowrap;
  @include multi(align-items, center, center, flex-start, flex-start);
  @include multi(margin-bottom, 1.5rem, 1.5rem, 0, 0);
  position: relative;
  @include multi(left, 0, 0, 1rem, 1rem);
  .intro-button {
    background: rgb(150, 73, 34);
    background: linear-gradient(
      184deg,
      rgba(150, 73, 34, 1) 0%,
      rgba(100, 34, 0, 1) 100%
    );
    padding: 1rem;
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    @include multi(font-size, 0.7rem, 0.7rem, 0.7rem, 0.9rem);
  }
}

.intro-container {
  @if $intro-debug {
    border: 1px blue solid;
  }
}
